
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
.venv

*.TXT
!requirements.txt
.DS_Store
*.mp4
.vscode
.idea

wandb
video
challange_env/wandb
challange_env/video
agent/wandb
agent/video

